/* this is a style to my html */
body{
    background-color:white;
    /* background-image: url(./image2.jpg);
    background-position: middle center; */
}


.para{
    color: #ffffff;
    background-color: #ef0f0f;
    border: 3px solid yellow;
    border-radius: 6px;
    padding: 5px 10px 15px 57px;
    margin: 100px;
    width: 50%;
    text-align: center;
}

.para2{
    color: #ffffff;
    background-color:rgb(11, 240, 11);
    border: 3px solid violet;
    border-radius:3px;
    padding:10px;
    margin: 80px 50px 50px 60px;
    text-align: right;
}

a:link{
    color:deeppink;
}
a:visited{
    color:blue;
}
a:hover{
    color:green;
}


h1{
    color:red;
}
h1{
    color:aqua;
     /* the code more down is more dominant in css */
}