.heading{
    background-color: #082032;
    text-align:center;
    font-style: bold;
    font-size: 32px;
    color: white;
    height: 60px;
    padding: 75px;
}

.text{
    background-color: #2C394B;
    width: 50%;
    color: white;
    text-align: center;
}

.picture{
    flex-basis:50%;   
}

img{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    align-items: top;
    justify-content: center;
}

.mid{
    background-color: #334756;
    text-align:center;
    font-size: 32px;
    color: white;
    height: 40px;
    padding: 20px;
}

.video{
    height: 100%;
    width:100%
}

a:link{
    color:deeppink;
}
a:visited{
    color:blue;
}
a:hover{
    color:green;
}